<div class="tab-body">
<section class="tab scrollable {{tabs.appearance.cssClass}}" data-group="{{tabs.appearance.group}}" data-tab="{{tabs.appearance.id}}">
	<p class="hint">{{localize "NT.AppearanceHint"}}</p>

	<div class="form-group">
		<label>{{localize "SCENE.FIELDS.backgroundColor.label"}}</label>
		<div class="form-fields">
			<input class="color" type="text" name="BGColor" placeholder="#000000" value="{{BGColor}}">
			<input type="color" value="{{BGColorPicker}}" data-edit="BGColor">
		</div>
		<p class="hint">{{localize "NT.BGColorHint"}}</p>
	</div>

	<div class="form-group">
		<label>{{localize "SCENE.FIELDS.background.src.label"}}</label>
		<div class="form-fields">
			<file-picker name="BGImage" type="imagevideo" value="{{BGImage}}" placeholder="{{localize 'File Path'}}"></file-picker>
		</div>
	</div>

	<div class="form-group">
		<label>{{localize "DRAWING.FIELDS.fontFamily"}}</label>
		<div class="form-fields">
			<file-picker name="WebFont" type="font" value="{{WebFont}}" placeholder="{{localize 'File Path'}}"></file-picker>
		</div>
	</div>

	<div class="form-group">
		<label>{{localize "DRAWING.FIELDS.textColor"}}</label>
		<div class="form-fields">
			<input class="color" type="text" name="TextColor" placeholder="white" value="{{TextColor}}">
			<input type="color" value="{{TextColorPicker}}" data-edit="TextColor">
		</div>
	</div>

	<div class="form-group">
		<label>{{localize "DRAWING.FIELDS.fontSize"}}</label>
		<div class="form-fields">
			<input type="text" name="FontSize" placeholder="28px" value="{{FontSize}}">
		</div>
	</div>

	<div class="form-group stacked">
		<label>{{localize "NT.TextShadow"}}</label>
		<div class="form-fields">
			<input type="text" name="TextShadow" placeholder="3px 3px 2px black" value="{{TextShadow}}">
		</div>
	</div>

	<div class="form-group stacked">
		<label>{{localize "NT.TextCSS"}}</label>
		<div class="form-fields">
			<input type="text" name="TextCSS" placeholder="color: white; text-shadow: 3px 3px 2px black" value="{{TextCSS}}">
		</div>
	</div>

	<div class="form-group">
		<label>{{localize "NT.CopyButton"}}</label>
		<div class="form-fields">
			<input type="checkbox" name="Copy" {{checked Copy}}>
		</div>
	</div>
</section>

<section class="tab scrollable {{tabs.behavior.cssClass}}" data-group="{{tabs.behavior.group}}" data-tab="{{tabs.behavior.id}}">
	<p class="hint">{{localize "NT.OthersHint"}}</p>

	<div class="form-group">
		<label>{{localize "NT.Pause"}}</label>
		<div class="form-fields">
			<input type="checkbox" name="Pause" {{checked Pause}}>
		</div>
	</div>

	<div class="form-group">
		<label>{{localize "NT.NarrationStartPaused"}}</label>
		<div class="form-fields">
			<input type="checkbox" name="NarrationStartPaused" {{checked NarrationStartPaused}}>
		</div>
	</div>

	<div class="form-group">
		<label>{{localize "NT.DurationMultiplier"}}</label>
		<div class="form-fields">
			<input type="range" name="DurationMultiplier" min="0.5" max="2" step="0.05" value="{{DurationMultiplier}}">
			<span class="range-value">{{DurationMultiplier}}</span>
		</div>
		<p class="hint">{{localize "NT.DurationMultiplierHint"}}</p>
	</div>

	<div class="form-group">
		<label>{{localize "NT.MessageType"}}</label>
		<div class="form-fields">
			<select name="MessageType" data-dtype="Number">
				{{selectOptions CHAT_MESSAGE_TYPES selected=MessageType localize=true}}
			</select>
		</div>
	</div>
</section>

<section class="tab scrollable {{tabs.permissions.cssClass}}" data-group="{{tabs.permissions.group}}" data-tab="{{tabs.permissions.id}}">
	<p class="hint">{{localize "NT.PermissionsHint"}}</p>

	<div class="form-group">
		<label>{{localize "NT.PERMScenery"}}</label>
		<div class="form-fields">
			<select name="PERMScenery" data-dtype="Number">
				{{selectOptions USER_ROLES selected=PERMScenery localize=true}}
			</select>
		</div>
	</div>

	<div class="form-group">
		<label>/as</label>
		<div class="form-fields">
			<select name="PERMAs" data-dtype="Number">
				{{selectOptions USER_ROLES selected=PERMAs localize=true}}
			</select>
		</div>
	</div>

	<div class="form-group">
		<label>/describe</label>
		<div class="form-fields">
			<select name="PERMDescribe" data-dtype="Number">
				{{selectOptions USER_ROLES selected=PERMDescribe localize=true}}
			</select>
		</div>
	</div>

	<div class="form-group">
		<label>/narrate</label>
		<div class="form-fields">
			<select name="PERMNarrate" data-dtype="Number">
				{{selectOptions USER_ROLES selected=PERMNarrate localize=true}}
			</select>
		</div>
	</div>
</section>
</div>
